a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .catalogue-box

        .content
            .title-text Catalogue

            .search-container
                input(type="text" placeholder="Search").search-class
                a(href="#").icon-filter.button-fs
                    img(src=require('../photo/filterIcon.png') alt="Language Icon")
                a(href="#").icon-sort.button-fs
                    img(src=require('../photo/sortIcon.png') alt="Language Icon")

            .products
                .product-card
                    h3 Cupcake
                    img(src=require('../photo/cupcake.png')  alt="Cupcake")
                    p.price ₴198.00
                    .favorite
                        img(src=require('../photo/heartIcon.png')  alt="Favorite Icon")
                    .cart
                        img(src=require('../photo/cartIcon.png') alt="Cart Icon")
                .product-card
                    h3 Cupcake
                    img(src=require('../photo/cupcake.png')  alt="Cupcake")
                    p.price ₴198.00
                    .favorite
                        img(src=require('../photo/heartIcon.png')  alt="Favorite Icon")
                    .cart
                        img(src=require('../photo/cartIcon.png') alt="Cart Icon")
                .product-card
                    h3 Cupcake
                    img(src=require('../photo/cupcake.png')  alt="Cupcake")
                    p.price ₴198.00
                    .favorite
                        img(src=require('../photo/heartIcon.png')  alt="Favorite Icon")
                    .cart
                        img(src=require('../photo/cartIcon.png') alt="Cart Icon")

        button.loadmore-button.myButton Load More
