a(name="main")
main 
    img(src=require('./photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .cart-box

        .content
            .title-text Your Cart

            .products
                .product-card
                    h3 Cupcake
                    img(src=require('./photo/cupcake.png')  alt="Cupcake")
                    p.price ₴198.00
                    .favorite
                        img(src=require('./photo/heartIcon.png')  alt="Favorite Icon")
                    .cart
                        img(src=require('./photo/cartIcon.png') alt="Cart Icon")
                .product-card
                    h3 Cupcake
                    img(src=require('./photo/cupcake.png')  alt="Cupcake")
                    p.price ₴198.00
                    .favorite
                        img(src=require('./photo/heartIcon.png')  alt="Favorite Icon")
                    .cart
                        img(src=require('./photo/cartIcon.png') alt="Cart Icon")
                .product-card
                    h3 Cupcake
                    img(src=require('./photo/cupcake.png')  alt="Cupcake")
                    p.price ₴198.00
                    .favorite
                        img(src=require('./photo/heartIcon.png')  alt="Favorite Icon")
                    .cart
                        img(src=require('./photo/cartIcon.png') alt="Cart Icon")

        button.catalogue-button.myButton Go to Full Catalogue
