a(name="footer")
.footerWave
  img(src=require('./photo/footer-wave.svg') alt="Footer Wave")
footer
  .footer-box
    .logo
      img(src=require('./photo/logo.png') alt="Yumico Bakery Logo")
    .address
      p пр-т. Володимира Івасюка 11а
    nav.navbar
      ul.nav-list
        li.nav-item
          a(href="#") MAIN
        li.nav-item
          a(href="#") CATALOGUE
        li.nav-item
          a(href="#") CUSTOM
        li.nav-item
          a(href="#") ABOUT US
    .contact
      p +380969104631
    .main-icons
      a(href="#")
        img(src=require('./photo/tiktokIcon.png') alt="TikTok Icon")
      a(href="#")
        img(src=require('./photo/facebookIcon.png') alt="Facebook Icon")
      a(href="#")
        img(src=require('./photo/instagramIcon.png') alt="Instagram Icon")
