a(name="header")
header
  .header-box
    .logo
      img(src=require('./photo/logo.png') alt="Yumico Bakery Logo")
    nav.navbar
      ul.nav-list
        li.nav-item
          a(href="index.html") MAIN
        li.nav-item
          a(href="catalogue.html") CATALOGUE
        li.nav-item
          a(href="custom.html") CUSTOM
        li.nav-item
          a(href="aboutus.html") ABOUT US
    .main-icons
      a(href="liked.html")
        img(src=require('./photo/heartIcon.png') alt="Favorites Icon")
      a(href="profile.html")
        img(src=require('./photo/accountIcon.png') alt="User Icon")
      a(href="cart.html")
        img(src=require('./photo/cartIcon.png') alt="Shopping Cart Icon")
    .help-icons
      a(href="#")
        img(src=require('./photo/languageIcon.png') alt="Language Icon")
      a(href="#")
        img(src=require('./photo/chatIcon.png') alt="Comments Icon")
